*{
    margin:0;
   padding:0;
   box-sizing: border-box;
   }

   

   body {
       background-color: #062863;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: 0.90rem; 

       
   }

   .header {
       margin-top: 30px;
       margin-bottom: 20px;
       
   }

   img {
       margin-left: 580px;
   }

   .container {
       background-color: white;
       width: 450px;
       height: max-content;
       border-radius: 10px;
       justify-content: center;
       padding: 40px;
       margin-left: 470px;
      
   }   

   .text {
       text-align: center;
       
   }


   .container .text h1{
       color: #093786;
    
   }


  .input-box {
      margin-top: 10px;
      margin-bottom: 30px;
  }

  .input-box label {
      margin-bottom: 5px;
      font-size: small;
      font-weight: bold;
      color: #4a5568;
  }

  .input-box input[type="text"] {
      margin-top: 5px;
      background-color: rgb(192, 210, 214);
      border-radius: 5px;
      border: none;
      padding: 30px auto;
      padding: 20px;
      width: 100%;
      height: 50px;
  }

  .input-box input[type="password"] {
    margin-top: 5px;
    background-color: rgb(192, 210, 214);
    border-radius: 5px;
    border: none;
    padding: 30px auto;
    padding: 20px;
    width: 100%;
    height: 50px;
}
.input-box input[type="tel"] {
    margin-top: 5px;
    background-color: rgb(192, 210, 214);
    border-radius: 5px;
    border: none;
    padding: 30px auto;
    padding: 20px;
    width: 100%;
    height: 50px;
}
.input-box input[type="email"] {
    margin-top: 5px;
    background-color: rgb(192, 210, 214);
    border-radius: 5px;
    border: none;
    padding: 30px auto;
    padding: 20px;
    width: 100%;
    height: 50px;
}

.input-box input[type="submit"] {
    margin-top: 5px;
    background-color: #062863;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 30px auto;
    padding: 20px;
    width: 50%;
    height: 50px;
    margin-left: 90px;
    font-weight: bold;
}

select {
    margin-top: 5px;
    background-color: rgb(192, 210, 214);
    border-radius: 5px;
    border: none;
    padding: 30px auto;
    padding: 20px;
    width: 100%;
    height: 50px;
    
}

  .footer p {
      margin-top: 5px;
      text-align: center;
      color: white;
  }

  @media only screen and (min-width: 900px) {
    body {
        background-image: url('../images/circle.png'),
            url('../images/Inverted\ J.png'), url('../images/J.png'),
            url('../images/angle\ bracket.png');
        background-position: -1% -15%, 108% -1%, -5% 108%, 107% 105%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 200px 200px;
    }
}